@use 'sass:map';

@mixin font-sizes {
  --jpdb-font-size-inherit: inherit;
  --jpdb-font-size-x-small: 0.5em;
  --jpdb-font-size-small: 0.7em;
  --jpdb-font-size-normal: 1em;
  --jpdb-font-size-large: 1.2em;
  --jpdb-font-size-x-large: 1.5em;
  --jpdb-font-size-xx-large: 2em;
}

@mixin outline-colors {
  --jpdb-outline-v1: #ff3b3b;
  --jpdb-outline-v2: #a0a0a0;
  --jpdb-outline-v3: #df6d2b;
  --jpdb-outline-v4: #4fa825;
}
$outline-colors: (v1, v2, v3, v4);

@mixin word-colors {
  --jpdb-word-new: #4b8dff;
  --jpdb-word-not-in-deck: var(--jpdb-word-new);

  --jpdb-word-blacklisted: #777;
  --jpdb-word-locked: var(--jpdb-word-blacklisted);
  --jpdb-word-suspended: #aaa;

  --jpdb-word-known: #70c000;
  --jpdb-word-never-forget: var(--jpdb-word-known);

  --jpdb-word-due: orangered;
  --jpdb-word-failed: red;
  --jpdb-word-learning: #5ea780;

  --jpdb-word-misparsed: red;
}
$word-colors: (
  new,
  not-in-deck,
  blacklisted,
  locked,
  suspended,
  known,
  never-forget,
  due,
  failed,
  learning,
  misparsed
);

@mixin pitch {
  --jpdb-pitch-heiban: #359eff;
  --jpdb-pitch-atamadaka: #fe4b74;
  --jpdb-pitch-nakadaka: #fba840;
  --jpdb-pitch-odaka: #57ccb7;
  --jpdb-pitch-kifuku: #9050f6;

  --jpdb-pitch-text-decoration: underline;
}
$pitch-colors: (heiban, atamadaka, nakadaka, odaka, kifuku);

@mixin misparsed {
  --jpdb-word-misparsed-color: var(--jpdb-word-misparsed);
  --jpdb-word-misparsed-background-color: lightgray;
  --jpdb-word-misparsed-text-decoration: underline;
  --jpdb-word-misparsed-text-decoration-color: var(--jpdb-word-misparsed);
}

@mixin parsed-text-decoration {
  --jpdb-word-parsed-text-decoration: none;
  --jpdb-word-parsed-text-decoration--hover: underline;
}

@mixin rt {
  --jpdb-rt-color: var(--jpdb-ruby-color);
  --jpdb-rt-font-size: var(--jpdb-font-size-x-small);
  --jpdb-rt-display: ruby-text;
  --jpdb-rt-display--hover: var(--jpdb-rt-display);

  --jpdb-rt-user-select: none;
  --jpdb-rt-pointer-events: none;
}
