@use 'sass:map';
@use 'variables/_colors' as colors;
@use 'variables/_sizes' as sizes;
@use 'utils/_vars' as vars;

@use 'theme/_common';
@use 'theme/_forms';
@use 'theme/_outline';

.popup {
  @include vars.write-vars(sizes.$popup, colors.$colors);

  @include vars.write-prefixed-vars('pitch', colors.$pitch);
  @include vars.write-prefixed-vars('deck', colors.$decks);
  @include vars.write-prefixed-vars('grade', colors.$grades);
  @include vars.write-prefixed-vars('state', colors.$states);

  @include vars.write-prefixed-vars('scale', sizes.$scales);
}

.popup {
  scale: var(--scale-normal);

  width: var(--popup-width);
  max-height: var(--popup-height);
  font-size: var(--font-size);

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em;

  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);

  section {
    &.controls {
      display: flex;
      flex-direction: row;
      gap: 0.5em;

      a {
        line-height: var(--font-size-small);
        font-size: var(--font-size-small);
        height: var(--font-size-large);
        padding: 0.5em 0.5em 0 0.5em;

        &:hover {
          filter: brightness(1.2);
        }

        &:active {
          filter: brightness(0.8);
        }
      }

      &#mining {
        @each $id, $_ in colors.$decks {
          .#{$id} {
            color: var(--deck-#{$id});
            border-color: var(--deck-#{$id});
            box-shadow: inset 0 0 3px var(--deck-#{$id});
          }
        }
      }
      &#grading {
        @each $id, $_ in colors.$grades {
          .#{$id} {
            color: var(--grade-#{$id});
            border-color: var(--grade-#{$id});
            box-shadow: inset 0 0 3px var(--grade-#{$id});
          }
        }
      }
    }

    &#context {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .subsection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #link {
          font-size: var(--font-size-x-large);
          border-bottom: 1px dashed var(--link-underline-color);

          &:hover {
            border-bottom-style: solid;
          }
        }

        #state {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          align-items: flex-end;

          span {
            font-size: var(--font-size-small);
            line-height: var(--font-size-small);
            text-decoration: underline;

            padding: 0.5em;

            @each $id, $color in colors.$states {
              &.#{$id} {
                color: var(--state-#{$id});
              }
            }
          }
        }

        &#meta {
          font-size: var(--font-size-small);
          white-space: nowrap;

          #pitch-accent {
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            .pitch span {
              padding: 1px 1px 1px 2px;
              line-height: 1em;

              border-style: solid;
              border-image-slice: 2;
              border-image-source: linear-gradient(
                to bottom,
                var(--pitch-upper),
                var(--pitch-lower)
              );
            }

            .pitch .low {
              border-width: 0 2px 2px 0;
              margin-right: -2px;
            }

            .pitch .high {
              border-width: 2px 2px 0 0;
              margin-right: -2px;
            }

            .pitch .low-final {
              border-width: 0 0 2px 0;
            }

            .pitch .high-final {
              border-width: 2px 0 0 0;
            }
          }
        }
      }
    }

    &#details {
      overflow: auto;
      margin-top: 0.5em;

      .pos {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        span {
          font-size: var(--font-size-small);
          line-height: var(--font-size-small);
          text-decoration: underline;

          padding: 0.5em 0;
        }
      }

      ol {
        margin: 0;
        padding: 0 0 0 1.5em;
      }
    }
  }
}
