@use 'sass:map';
@use 'variables/_colors' as colors;
@use 'utils/_vars' as vars;

.jpdb-word {
  @include vars.write-prefixed-vars('jpdb-word', colors.$states);
  @include vars.write-prefixed-vars('jpdb-pitch', colors.$accents);

  @include vars.write-vars(
    (
      misparsed-background-color: map.get(colors.$colors, misparsed-background-color),
    )
  );
}

.jpdb-word ruby,
.jpdb-word rt {
  color: inherit !important;
  font-size: inherit;
}

.jpdb-word rt {
  user-select: none;
  pointer-events: none;

  font-size: 60%;
}

.jpdb-word {
  @each $state, $_ in colors.$states {
    &.#{$state} {
      color: var(--jpdb-word-#{$state}, var(--jpdb-word-default-color));
    }
  }

  @each $pitch, $_ in colors.$accents {
    &.#{$pitch} {
      text-decoration: underline;
      text-decoration-color: var(--jpdb-pitch-#{$pitch}, var(--jpdb-pitch-default-color));
    }
  }
}

.jpdb-word:not(.unparsed):hover {
  text-decoration: underline;
}

.jpdb-word.misparsed {
  background-color: var(--misparsed-background-color);
}
