.jpdb-word ruby,
.jpdb-word rt {
  color: inherit !important;
  font-size: inherit;
}

.jpdb-word rt {
  user-select: none;
  pointer-events: none;

  font-size: 60%;
}

.jpdb-word:not(.unparsed):hover {
  text-decoration: underline;
}
