<link rel="stylesheet" media="screen" href="../css/changelog.css" />
<h2>Changelog</h2>
<h5>0.5.0</h5>
<ul>
<li><label class="type outline fix">fix</label><span class="description">In certain cases the card state did not properly update</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/156" target="_blank">#156</a>]<label class="category outline">Texthighlighter</label><label class="category outline">API</label></li>
<li><label class="type outline change">change</label><span class="description">The currently active tab can now be moved to the top of the list</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/108" target="_blank">#108</a>]<label class="category outline">Parser</label></li>
<li><label class="type outline change">change</label><span class="description">The list of tabs can now be reduced to only the active tab</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/109" target="_blank">#109</a>]<label class="category outline">Parser</label></li>
<li><label class="type outline change">change</label><span class="description">The settings page has been updated</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/110" target="_blank">#110</a>]<label class="category outline">Settings</label></li>
<li><label class="type outline change">change</label><span class="description">Actions can now be assigned two keyboard shortcuts</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/134" target="_blank">#134</a>]<label class="category outline">Parser</label><label class="category outline">Texthighlighter</label></li>
<li><label class="type outline change">change</label><span class="description">The states for card state rotation can now be changed</span><label class="category outline">Texthighlighter</label><label class="category outline">API</label></li>
<li><label class="type outline add">add</label><span class="description">Added a little parse page control to web pages</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/133" target="_blank">#133</a>]<label class="category outline">Parser</label></li>
<li><label class="type outline add">add</label><span class="description">Suspended cards and decks are now supported</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/133" target="_blank">#133</a>]<label class="category outline">API</label><label class="category outline">Texthighlighter</label><label class="category outline">Parser</label></li>
<li><label class="type outline add">add</label><span class="description">Allow changing the position of deck and mining actions on the popup</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/151" target="_blank">#151</a>]<label class="category outline">Popup</label></li>
<li><label class="type outline add">add</label><span class="description">A changelog is now available</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/156" target="_blank">#156</a>]<label class="category outline">Documentation</label></li>
<li><label class="type outline add">add</label><span class="description">The extension is now on the chrome web store</span><label class="category outline">Browser</label><label class="category outline">Documentation</label></li>
</ul>
<h5>0.4.0</h5>
<ul>
<li><label class="type outline fix">fix</label><span class="description">Fix hosts configuration</span><label class="category outline">Hosts</label><label class="category outline">Parser</label></li>
<li><label class="type outline change">change</label><span class="description">Update app styles injection</span><label class="category outline">Texthighlighter</label></li>
<li><label class="type outline change">change</label><span class="description">Update styling documentation</span><label class="category outline">Texthighlighter</label><label class="category outline">Documentation</label></li>
<li><label class="type outline add">add</label><span class="description">Allow styling based on the current parser</span><label class="category outline">Texthighlighter</label><label class="category outline">Parser</label></li>
</ul>
<h5>0.3.1</h5>
<ul>
<li><label class="type outline chore">chore</label><span class="description">Fix release references</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/58" target="_blank">#58</a>]<label class="category outline">Browser</label></li>
</ul>
<h5>0.3.0</h5>
<ul>
<li><label class="type outline fix">fix</label><span class="description">Furigana will no longer be copied when looking up a word</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/56" target="_blank">#56</a>]<label class="category outline">Texthighlighter</label><label class="category outline">API</label></li>
<li><label class="type outline add">add</label><span class="description">Added support for Pitch Accent</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/55" target="_blank">#55</a>]<label class="category outline">Texthighlighter</label></li>
<li><label class="type outline add">add</label><span class="description">Words can now be added to FORQ</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/64" target="_blank">#64</a>]<label class="category outline">API</label></li>
<li><label class="type outline add">add</label><span class="description">Sentences can now be set on JPDB</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/65" target="_blank">#65</a>]<label class="category outline">API</label></li>
</ul>
<h5>0.2.1</h5>
<ul>
<li><label class="type outline chore">chore</label><span class="description">Prepare extension store releases</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/58" target="_blank">#58</a>]<label class="category outline">Browser</label></li>
</ul>
<h5>0.2.0</h5>
<ul>
<li><label class="type outline add">add</label><span class="description">Added support for firefox</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/58" target="_blank">#58</a>]<label class="category outline">Browser</label></li>
</ul>
<h5>0.1.2</h5>
<ul>
<li><label class="type outline fix">fix</label><span class="description">Single words can now be parsed</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/72" target="_blank">#72</a>]<label class="category outline">Parser</label></li>
</ul>
<h5>0.1.1</h5>
<ul>
<li><label class="type outline add">add</label><span class="description">Allow hiding the popup after unhovering the related token</span> [<a href="https://github.com/Kagu-chan/anki-jpdb.reader/issues/69" target="_blank">#69</a>]<label class="category outline">Popup</label></li>
<li><label class="type outline add">add</label><span class="description">Mark linux as compatible operating system</span><label class="category outline">Platform</label></li>
</ul>
<h5>0.1.0</h5>
<ul>
<li><label class="type outline add">add</label><span class="description">Initial release with basic functionality</span><label class="category outline">Browser</label></li>
</ul>