@use '@styles/theme/_common';
@use '@styles/theme/_outline';

body {
  width: 300px;

  padding: 0 1em 1em;

  .pages {
    &::-webkit-scrollbar {
      display: none !important;
      width: none !important;
    }
    scrollbar-width: none !important;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: .5em;

    margin: 1em 0;

    max-height: 500px;

    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-y: clip;

      &.hide {
        cursor: unset;

        &:not(:last-of-type) {
          display: none;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: flex-end;

    a {
      cursor: pointer;
    }
  }
}
