@use 'sass:map';

$font-sizes: (
  small: 0.7em,
  normal: 1em,
  large: 1.2em,
  x-large: 1.5em,
  xx-large: 2em,
);

$popup: (
  popup-width: 350px,
  popup-height: 250px,
  font-size: map.get($font-sizes, normal),
  font-size-small: map.get($font-sizes, small),
  font-size-large: map.get($font-sizes, large),
  font-size-x-large: map.get($font-sizes, x-large),
  font-size-xx-large: map.get($font-sizes, xx-large),
);

$scales: (
  small: 0.8,
  normal: 1,
  large: 1.2,
  x-large: 1.5,
  xx-large: 2,
);
